/* light */
body {
	color-scheme: light;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	color: #1f2328;
	background-color: #ffffff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
	scroll-behavior: auto !important;
}

body .octicon {
	display: inline-block;
	fill: currentColor;
	vertical-align: text-bottom;
}

body h1:hover .anchor .octicon-link:before,
body h2:hover .anchor .octicon-link:before,
body h3:hover .anchor .octicon-link:before,
body h4:hover .anchor .octicon-link:before,
body h5:hover .anchor .octicon-link:before,
body h6:hover .anchor .octicon-link:before {
	width: 16px;
	height: 16px;
	content: " ";
	display: inline-block;
	background-color: currentColor;
	-webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
	mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

body details,
body figcaption,
body figure {
	display: block;
}

body summary {
	display: list-item;
}

body [hidden] {
	display: none !important;
}

body a {
	background-color: transparent;
	color: #0969da;
	text-decoration: none;
}

body abbr[title] {
	border-bottom: none;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

body b,
body strong {
	font-weight: 600;
}

body dfn {
	font-style: italic;
}

body h1 {
	margin: 0.67em 0;
	font-weight: 600;
	padding-bottom: 0.3em;
	font-size: 2em;
	border-bottom: 1px solid #d1d9e0b3;
}

body mark {
	background-color: #fff8c5;
	color: #1f2328;
}

body small {
	font-size: 90%;
}

body sub,
body sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

body sub {
	bottom: -0.25em;
}

body sup {
	top: -0.5em;
}

body img {
	border-style: none;
	max-width: 100%;
	box-sizing: content-box;
}

body code,
body kbd,
body pre,
body samp {
	font-family: monospace;
	font-size: 1em;
}

body figure {
	margin: 1em 2.5rem;
}

body hr {
	box-sizing: content-box;
	overflow: hidden;
	background: transparent;
	border-bottom: 1px solid #d1d9e0b3;
	height: 0.25em;
	padding: 0;
	margin: 1.5rem 0;
	background-color: #d1d9e0;
	border: 0;
}

body input {
	font: inherit;
	margin: 0;
	overflow: visible;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

body [type="button"],
body [type="reset"],
body [type="submit"] {
	-webkit-appearance: button;
	appearance: button;
}

body [type="checkbox"],
body [type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

body [type="number"]::-webkit-inner-spin-button,
body [type="number"]::-webkit-outer-spin-button {
	height: auto;
}

body [type="search"]::-webkit-search-cancel-button,
body [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	appearance: none;
}

body ::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}

body ::-webkit-file-upload-button {
	-webkit-appearance: button;
	appearance: button;
	font: inherit;
}

body a:hover {
	text-decoration: underline;
}

body ::placeholder {
	color: #59636e;
	opacity: 1;
}

body hr::before {
	display: table;
	content: "";
}

body hr::after {
	display: table;
	clear: both;
	content: "";
}

body table {
	border-spacing: 0;
	border-collapse: collapse;
	display: block;
	width: max-content;
	max-width: 100%;
	overflow: auto;
}

body td,
body th {
	padding: 0;
}

body details summary {
	cursor: pointer;
}

body a:focus,
body [role="button"]:focus,
body input[type="radio"]:focus,
body input[type="checkbox"]:focus {
	outline: 2px solid #0969da;
	outline-offset: -2px;
	box-shadow: none;
}

body a:focus:not(:focus-visible),
body [role="button"]:focus:not(:focus-visible),
body input[type="radio"]:focus:not(:focus-visible),
body input[type="checkbox"]:focus:not(:focus-visible) {
	outline: solid 1px transparent;
}

body a:focus-visible,
body [role="button"]:focus-visible,
body input[type="radio"]:focus-visible,
body input[type="checkbox"]:focus-visible {
	outline: 2px solid #0969da;
	outline-offset: -2px;
	box-shadow: none;
}

body a:not([class]):focus,
body a:not([class]):focus-visible,
body input[type="radio"]:focus,
body input[type="radio"]:focus-visible,
body input[type="checkbox"]:focus,
body input[type="checkbox"]:focus-visible {
	outline-offset: 0;
}

body kbd {
	display: inline-block;
	padding: 0.25rem;
	font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
		Liberation Mono, monospace;
	line-height: 10px;
	color: #1f2328;
	vertical-align: middle;
	background-color: #f6f8fa;
	border: solid 1px #d1d9e0b3;
	border-bottom-color: #d1d9e0b3;
	border-radius: 6px;
	box-shadow: inset 0 -1px 0 #d1d9e0b3;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-weight: 600;
	line-height: 1.25;
}

body h2 {
	font-weight: 600;
	padding-bottom: 0.3em;
	font-size: 1.5em;
	border-bottom: 1px solid #d1d9e0b3;
}

body h3 {
	font-weight: 600;
	font-size: 1.25em;
}

body h4 {
	font-weight: 600;
	font-size: 1em;
}

body h5 {
	font-weight: 600;
	font-size: 0.875em;
}

body h6 {
	font-weight: 600;
	font-size: 0.85em;
	color: #59636e;
}

body p {
	margin-top: 0;
	margin-bottom: 10px;
}

body blockquote {
	margin: 0;
	padding: 0 1em;
	color: #59636e;
	border-left: 0.25em solid #d1d9e0;
}

body ul,
body ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 2em;
}

body ol ol,
body ul ol {
	list-style-type: lower-roman;
}

body ul ul ol,
body ul ol ol,
body ol ul ol,
body ol ol ol {
	list-style-type: lower-alpha;
}

body dd {
	margin-left: 0;
}

body tt,
body code,
body samp {
	font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
		Liberation Mono, monospace;
	font-size: 12px;
}

body pre {
	margin-top: 0;
	margin-bottom: 0;
	font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
		Liberation Mono, monospace;
	font-size: 12px;
	word-wrap: normal;
}

body .octicon {
	display: inline-block;
	overflow: visible !important;
	vertical-align: text-bottom;
	fill: currentColor;
}

body input::-webkit-outer-spin-button,
body input::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
	appearance: none;
}

body .mr-2 {
	margin-right: 0.5rem !important;
}

body::before {
	display: table;
	content: "";
}

body::after {
	display: table;
	clear: both;
	content: "";
}

body > *:first-child {
	margin-top: 0 !important;
}

body > *:last-child {
	margin-bottom: 0 !important;
}

body a:not([href]) {
	color: inherit;
	text-decoration: none;
}

body .absent {
	color: #d1242f;
}

body .anchor {
	float: left;
	padding-right: 0.25rem;
	margin-left: -20px;
	line-height: 1;
}

body .anchor:focus {
	outline: none;
}

body p,
body blockquote,
body ul,
body ol,
body dl,
body table,
body pre,
body details {
	margin-top: 0;
	margin-bottom: 1rem;
}

body blockquote > :first-child {
	margin-top: 0;
}

body blockquote > :last-child {
	margin-bottom: 0;
}

body h1 .octicon-link,
body h2 .octicon-link,
body h3 .octicon-link,
body h4 .octicon-link,
body h5 .octicon-link,
body h6 .octicon-link {
	color: #1f2328;
	vertical-align: middle;
	visibility: hidden;
}

body h1:hover .anchor,
body h2:hover .anchor,
body h3:hover .anchor,
body h4:hover .anchor,
body h5:hover .anchor,
body h6:hover .anchor {
	text-decoration: none;
}

body h1:hover .anchor .octicon-link,
body h2:hover .anchor .octicon-link,
body h3:hover .anchor .octicon-link,
body h4:hover .anchor .octicon-link,
body h5:hover .anchor .octicon-link,
body h6:hover .anchor .octicon-link {
	visibility: visible;
}

body h1 tt,
body h1 code,
body h2 tt,
body h2 code,
body h3 tt,
body h3 code,
body h4 tt,
body h4 code,
body h5 tt,
body h5 code,
body h6 tt,
body h6 code {
	padding: 0 0.2em;
	font-size: inherit;
}

body summary h1,
body summary h2,
body summary h3,
body summary h4,
body summary h5,
body summary h6 {
	display: inline-block;
}

body summary h1 .anchor,
body summary h2 .anchor,
body summary h3 .anchor,
body summary h4 .anchor,
body summary h5 .anchor,
body summary h6 .anchor {
	margin-left: -40px;
}

body summary h1,
body summary h2 {
	padding-bottom: 0;
	border-bottom: 0;
}

body ul.no-list,
body ol.no-list {
	padding: 0;
	list-style-type: none;
}

body ol[type="a s"] {
	list-style-type: lower-alpha;
}

body ol[type="A s"] {
	list-style-type: upper-alpha;
}

body ol[type="i s"] {
	list-style-type: lower-roman;
}

body ol[type="I s"] {
	list-style-type: upper-roman;
}

body ol[type="1"] {
	list-style-type: decimal;
}

body div > ol:not([type]) {
	list-style-type: decimal;
}

body ul ul,
body ul ol,
body ol ol,
body ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

body li > p {
	margin-top: 1rem;
}

body li + li {
	margin-top: 0.25em;
}

body dl {
	padding: 0;
}

body dl dt {
	padding: 0;
	margin-top: 1rem;
	font-size: 1em;
	font-style: italic;
	font-weight: 600;
}

body dl dd {
	padding: 0 1rem;
	margin-bottom: 1rem;
}

body table th {
	font-weight: 600;
}

body table th,
body table td {
	padding: 6px 13px;
	border: 1px solid #d1d9e0;
}

body table td > :last-child {
	margin-bottom: 0;
}

body table tr {
	background-color: #ffffff;
	border-top: 1px solid #d1d9e0b3;
}

body table tr:nth-child(2n) {
	background-color: #f6f8fa;
}

body table img {
	background-color: transparent;
}

body img[align="right"] {
	padding-left: 20px;
}

body img[align="left"] {
	padding-right: 20px;
}

body .emoji {
	max-width: none;
	vertical-align: text-top;
	background-color: transparent;
}

body span.frame {
	display: block;
	overflow: hidden;
}

body span.frame > span {
	display: block;
	float: left;
	width: auto;
	padding: 7px;
	margin: 13px 0 0;
	overflow: hidden;
	border: 1px solid #d1d9e0;
}

body span.frame span img {
	display: block;
	float: left;
}

body span.frame span span {
	display: block;
	padding: 5px 0 0;
	clear: both;
	color: #1f2328;
}

body span.align-center {
	display: block;
	overflow: hidden;
	clear: both;
}

body span.align-center > span {
	display: block;
	margin: 13px auto 0;
	overflow: hidden;
	text-align: center;
}

body span.align-center span img {
	margin: 0 auto;
	text-align: center;
}

body span.align-right {
	display: block;
	overflow: hidden;
	clear: both;
}

body span.align-right > span {
	display: block;
	margin: 13px 0 0;
	overflow: hidden;
	text-align: right;
}

body span.align-right span img {
	margin: 0;
	text-align: right;
}

body span.float-left {
	display: block;
	float: left;
	margin-right: 13px;
	overflow: hidden;
}

body span.float-left span {
	margin: 13px 0 0;
}

body span.float-right {
	display: block;
	float: right;
	margin-left: 13px;
	overflow: hidden;
}

body span.float-right > span {
	display: block;
	margin: 13px auto 0;
	overflow: hidden;
	text-align: right;
}

body code,
body tt {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	white-space: break-spaces;
	background-color: #818b981f;
	border-radius: 6px;
}

body code br,
body tt br {
	display: none;
}

body del code {
	text-decoration: inherit;
}

body samp {
	font-size: 85%;
}

body pre code {
	font-size: 100%;
}

body pre > code {
	padding: 0;
	margin: 0;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}

body .highlight {
	margin-bottom: 1rem;
}

body .highlight pre {
	margin-bottom: 0;
	word-break: normal;
}

body .highlight pre,
body pre {
	padding: 1rem;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	color: #1f2328;
	background-color: #f6f8fa;
	border-radius: 6px;
}

body pre code,
body pre tt {
	display: inline;
	max-width: auto;
	padding: 0;
	margin: 0;
	overflow: visible;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}

body .csv-data td,
body .csv-data th {
	padding: 5px;
	overflow: hidden;
	font-size: 12px;
	line-height: 1;
	text-align: left;
	white-space: nowrap;
}

body .csv-data .blob-num {
	padding: 10px 0.5rem 9px;
	text-align: right;
	background: #ffffff;
	border: 0;
}

body .csv-data tr {
	border-top: 0;
}

body .csv-data th {
	font-weight: 600;
	background: #f6f8fa;
	border-top: 0;
}

body [data-footnote-ref]::before {
	content: "[";
}

body [data-footnote-ref]::after {
	content: "]";
}

body .footnotes {
	font-size: 12px;
	color: #59636e;
	border-top: 1px solid #d1d9e0;
}

body .footnotes ol {
	padding-left: 1rem;
}

body .footnotes ol ul {
	display: inline-block;
	padding-left: 1rem;
	margin-top: 1rem;
}

body .footnotes li {
	position: relative;
}

body .footnotes li:target::before {
	position: absolute;
	top: calc(0.5rem * -1);
	right: calc(0.5rem * -1);
	bottom: calc(0.5rem * -1);
	left: calc(1.5rem * -1);
	pointer-events: none;
	content: "";
	border: 2px solid #0969da;
	border-radius: 6px;
}

body .footnotes li:target {
	color: #1f2328;
}

body .footnotes .data-footnote-backref g-emoji {
	font-family: monospace;
}

body .pl-c {
	color: #59636e;
}

body .pl-c1,
body .pl-s .pl-v {
	color: #0550ae;
}

body .pl-e,
body .pl-en {
	color: #6639ba;
}

body .pl-smi,
body .pl-s .pl-s1 {
	color: #1f2328;
}

body .pl-ent {
	color: #0550ae;
}

body .pl-k {
	color: #cf222e;
}

body .pl-s,
body .pl-pds,
body .pl-s .pl-pse .pl-s1,
body .pl-sr,
body .pl-sr .pl-cce,
body .pl-sr .pl-sre,
body .pl-sr .pl-sra {
	color: #0a3069;
}

body .pl-v,
body .pl-smw {
	color: #953800;
}

body .pl-bu {
	color: #82071e;
}

body .pl-ii {
	color: #f6f8fa;
	background-color: #82071e;
}

body .pl-c2 {
	color: #f6f8fa;
	background-color: #cf222e;
}

body .pl-sr .pl-cce {
	font-weight: bold;
	color: #116329;
}

body .pl-ml {
	color: #3b2300;
}

body .pl-mh,
body .pl-mh .pl-en,
body .pl-ms {
	font-weight: bold;
	color: #0550ae;
}

body .pl-mi {
	font-style: italic;
	color: #1f2328;
}

body .pl-mb {
	font-weight: bold;
	color: #1f2328;
}

body .pl-md {
	color: #82071e;
	background-color: #ffebe9;
}

body .pl-mi1 {
	color: #116329;
	background-color: #dafbe1;
}

body .pl-mc {
	color: #953800;
	background-color: #ffd8b5;
}

body .pl-mi2 {
	color: #d1d9e0;
	background-color: #0550ae;
}

body .pl-mdr {
	font-weight: bold;
	color: #8250df;
}

body .pl-ba {
	color: #59636e;
}

body .pl-sg {
	color: #818b98;
}

body .pl-corl {
	text-decoration: underline;
	color: #0a3069;
}

body [role="button"]:focus:not(:focus-visible),
body [role="tabpanel"][tabindex="0"]:focus:not(:focus-visible),
body button:focus:not(:focus-visible),
body summary:focus:not(:focus-visible),
body a:focus:not(:focus-visible) {
	outline: none;
	box-shadow: none;
}

body [tabindex="0"]:focus:not(:focus-visible),
body details-dialog:focus:not(:focus-visible) {
	outline: none;
}

body g-emoji {
	display: inline-block;
	min-width: 1ch;
	font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1em;
	font-style: normal !important;
	font-weight: 400;
	line-height: 1;
	vertical-align: -0.075em;
}

body g-emoji img {
	width: 1em;
	height: 1em;
}

body .task-list-item {
	list-style-type: none;
}

body .task-list-item label {
	font-weight: 400;
}

body .task-list-item.enabled label {
	cursor: pointer;
}

body .task-list-item + .task-list-item {
	margin-top: 0.25rem;
}

body .task-list-item .handle {
	display: none;
}

body .task-list-item-checkbox {
	margin: 0 0.2em 0.25em -1.4em;
	vertical-align: middle;
}

body ul:dir(rtl) .task-list-item-checkbox {
	margin: 0 -1.6em 0.25em 0.2em;
}

body ol:dir(rtl) .task-list-item-checkbox {
	margin: 0 -1.6em 0.25em 0.2em;
}

body .contains-task-list:hover .task-list-item-convert-container,
body .contains-task-list:focus-within .task-list-item-convert-container {
	display: block;
	width: auto;
	height: 24px;
	overflow: visible;
	clip: auto;
}

body ::-webkit-calendar-picker-indicator {
	filter: invert(50%);
}

body alert {
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	color: inherit;
	border-left: 0.25em solid #d1d9e0;
}

body alert > :first-child {
	margin-top: 0;
}

body alert > :last-child {
	margin-bottom: 0;
}

body alert alert-title {
	display: flex;
	font-weight: 500;
	align-items: center;
	line-height: 1;
}

body alertalert-note {
	border-left-color: #0969da;
}

body alertalert-note alert-title {
	color: #0969da;
}

body alertalert-important {
	border-left-color: #8250df;
}

body alertalert-important alert-title {
	color: #8250df;
}

body alertalert-warning {
	border-left-color: #9a6700;
}

body alertalert-warning alert-title {
	color: #9a6700;
}

body alertalert-tip {
	border-left-color: #1a7f37;
}

body alertalert-tip alert-title {
	color: #1a7f37;
}

body alertalert-caution {
	border-left-color: #cf222e;
}

body alertalert-caution alert-title {
	color: #d1242f;
}

body > *:first-child > .heading-element:first-child {
	margin-top: 0 !important;
}
