@font-face {
  font-family: octicons-link;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}

.addon-notes-container {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.addon-notes-container .pl-c {
  color: #6a737d;
}

.addon-notes-container .pl-c1,
.addon-notes-container .pl-s .pl-v {
  color: #005cc5;
}

.addon-notes-container .pl-e,
.addon-notes-container .pl-en {
  color: #6f42c1;
}

.addon-notes-container .pl-s .pl-s1,
.addon-notes-container .pl-smi {
  color: #24292e;
}

.addon-notes-container .pl-ent {
  color: #22863a;
}

.addon-notes-container .pl-k {
  color: #d73a49;
}

.addon-notes-container .pl-pds,
.addon-notes-container .pl-s,
.addon-notes-container .pl-s .pl-pse .pl-s1,
.addon-notes-container .pl-sr,
.addon-notes-container .pl-sr .pl-cce,
.addon-notes-container .pl-sr .pl-sra,
.addon-notes-container .pl-sr .pl-sre {
  color: #032f62;
}

.addon-notes-container .pl-smw,
.addon-notes-container .pl-v {
  color: #e36209;
}

.addon-notes-container .pl-bu {
  color: #b31d28;
}

.addon-notes-container .pl-ii {
  background-color: #b31d28;
  color: #fafbfc;
}

.addon-notes-container .pl-c2 {
  background-color: #d73a49;
  color: #fafbfc;
}

.addon-notes-container .pl-c2:before {
  content: "^M";
}

.addon-notes-container .pl-sr .pl-cce {
  color: #22863a;
  font-weight: 700;
}

.addon-notes-container .pl-ml {
  color: #735c0f;
}

.addon-notes-container .pl-mh,
.addon-notes-container .pl-mh .pl-en,
.addon-notes-container .pl-ms {
  color: #005cc5;
  font-weight: 700;
}

.addon-notes-container .pl-mi {
  color: #24292e;
  font-style: italic;
}

.addon-notes-container .pl-mb {
  color: #24292e;
  font-weight: 700;
}

.addon-notes-container .pl-md {
  background-color: #ffeef0;
  color: #b31d28;
}

.addon-notes-container .pl-mi1 {
  background-color: #f0fff4;
  color: #22863a;
}

.addon-notes-container .pl-mc {
  background-color: #ffebda;
  color: #e36209;
}

.addon-notes-container .pl-mi2 {
  background-color: #005cc5;
  color: #f6f8fa;
}

.addon-notes-container .pl-mdr {
  color: #6f42c1;
  font-weight: 700;
}

.addon-notes-container .pl-ba {
  color: #586069;
}

.addon-notes-container .pl-sg {
  color: #959da5;
}

.addon-notes-container .pl-corl {
  color: #032f62;
  text-decoration: underline;
}

.addon-notes-container .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-top;
}

.addon-notes-container .placeholder-box {
  border: 1px solid #959da5;
}

.addon-notes-container a {
  background-color: initial;
}

.addon-notes-container a:active,
.addon-notes-container a:hover {
  outline-width: 0;
}

.addon-notes-container strong {
  font-weight: inherit;
  font-weight: bolder;
}

.addon-notes-container h1 {
  font-size: 2em;
  margin: .67em 0;
}

.addon-notes-container img {
  border-style: none;
}

.addon-notes-container code,
.addon-notes-container kbd,
.addon-notes-container pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

.addon-notes-container hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}

.addon-notes-container input {
  font: inherit;
  margin: 0;
}

.addon-notes-container input {
  overflow: visible;
}

.addon-notes-container [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.addon-notes-container * {
  box-sizing: border-box;
}

.addon-notes-container input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.addon-notes-container a {
  color: #0366d6;
  text-decoration: none;
}

.addon-notes-container a:hover {
  text-decoration: underline;
}

.addon-notes-container strong {
  font-weight: 600;
}

.addon-notes-container hr {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
}

.addon-notes-container hr:after,
.addon-notes-container hr:before {
  content: "";
  display: table;
}

.addon-notes-container hr:after {
  clear: both;
}

.addon-notes-container table {
  border-collapse: collapse;
  border-spacing: 0;
}

.addon-notes-container td,
.addon-notes-container th {
  padding: 0;
}

.addon-notes-container h1,
.addon-notes-container h2,
.addon-notes-container h3,
.addon-notes-container h4,
.addon-notes-container h5,
.addon-notes-container h6 {
  margin-bottom: 0;
  margin-top: 0;
}

.addon-notes-container h1 {
  font-size: 32px;
}

.addon-notes-container h1,
.addon-notes-container h2 {
  font-weight: 600;
}

.addon-notes-container h2 {
  font-size: 24px;
}

.addon-notes-container h3 {
  font-size: 20px;
}

.addon-notes-container h3,
.addon-notes-container h4 {
  font-weight: 600;
}

.addon-notes-container h4 {
  font-size: 16px;
}

.addon-notes-container h5 {
  font-size: 14px;
}

.addon-notes-container h5,
.addon-notes-container h6 {
  font-weight: 600;
}

.addon-notes-container h6 {
  font-size: 12px;
}

.addon-notes-container p {
  margin-bottom: 10px;
  margin-top: 0;
}

.addon-notes-container blockquote {
  margin: 0;
}

.addon-notes-container ol,
.addon-notes-container ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.addon-notes-container ol ol,
.addon-notes-container ul ol {
  list-style-type: lower-roman;
}

.addon-notes-container ol ol ol,
.addon-notes-container ol ul ol,
.addon-notes-container ul ol ol,
.addon-notes-container ul ul ol {
  list-style-type: lower-alpha;
}

.addon-notes-container dd {
  margin-left: 0;
}

.addon-notes-container code,
.addon-notes-container pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
}

.addon-notes-container pre {
  margin-bottom: 0;
  margin-top: 0;
}

.addon-notes-container .octicon {
  vertical-align: text-bottom;
}

.addon-notes-container input::-webkit-inner-spin-button,
.addon-notes-container input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.addon-notes-container .pl-0 {
  padding-left: 0!important;
}

.addon-notes-container .pl-1 {
  padding-left: 4px!important;
}

.addon-notes-container .pl-2 {
  padding-left: 8px!important;
}

.addon-notes-container .pl-3 {
  padding-left: 16px!important;
}

.addon-notes-container .pl-4 {
  padding-left: 24px!important;
}

.addon-notes-container .pl-5 {
  padding-left: 32px!important;
}

.addon-notes-container .pl-6 {
  padding-left: 40px!important;
}

.addon-notes-container:after,
.addon-notes-container:before {
  content: "";
  display: table;
}

.addon-notes-container:after {
  clear: both;
}

.addon-notes-container>:first-child {
  margin-top: 0!important;
}

.addon-notes-container>:last-child {
  margin-bottom: 0!important;
}

.addon-notes-container a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.addon-notes-container .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

.addon-notes-container .anchor:focus {
  outline: none;
}

.addon-notes-container blockquote,
.addon-notes-container dl,
.addon-notes-container ol,
.addon-notes-container p,
.addon-notes-container pre,
.addon-notes-container table,
.addon-notes-container ul {
  margin-bottom: 16px;
  margin-top: 0;
}

.addon-notes-container hr {
  background-color: #e1e4e8;
  border: 0;
  height: .25em;
  margin: 24px 0;
  padding: 0;
}

.addon-notes-container blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

.addon-notes-container blockquote>:first-child {
  margin-top: 0;
}

.addon-notes-container blockquote>:last-child {
  margin-bottom: 0;
}

.addon-notes-container kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.addon-notes-container h1,
.addon-notes-container h2,
.addon-notes-container h3,
.addon-notes-container h4,
.addon-notes-container h5,
.addon-notes-container h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

.addon-notes-container h1 .octicon-link,
.addon-notes-container h2 .octicon-link,
.addon-notes-container h3 .octicon-link,
.addon-notes-container h4 .octicon-link,
.addon-notes-container h5 .octicon-link,
.addon-notes-container h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.addon-notes-container h1:hover .anchor,
.addon-notes-container h2:hover .anchor,
.addon-notes-container h3:hover .anchor,
.addon-notes-container h4:hover .anchor,
.addon-notes-container h5:hover .anchor,
.addon-notes-container h6:hover .anchor {
  text-decoration: none;
}

.addon-notes-container h1:hover .anchor .octicon-link,
.addon-notes-container h2:hover .anchor .octicon-link,
.addon-notes-container h3:hover .anchor .octicon-link,
.addon-notes-container h4:hover .anchor .octicon-link,
.addon-notes-container h5:hover .anchor .octicon-link,
.addon-notes-container h6:hover .anchor .octicon-link {
  visibility: visible;
}

.addon-notes-container h1 {
  font-size: 2em;
}

.addon-notes-container h1,
.addon-notes-container h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
}

.addon-notes-container h2 {
  font-size: 1.5em;
}

.addon-notes-container h3 {
  font-size: 1.25em;
}

.addon-notes-container h4 {
  font-size: 1em;
}

.addon-notes-container h5 {
  font-size: .875em;
}

.addon-notes-container h6 {
  color: #6a737d;
  font-size: .85em;
}

.addon-notes-container ol,
.addon-notes-container ul {
  padding-left: 2em;
}

.addon-notes-container ol ol,
.addon-notes-container ol ul,
.addon-notes-container ul ol,
.addon-notes-container ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

.addon-notes-container li {
  word-wrap: break-all;
}

.addon-notes-container li>p {
  margin-top: 16px;
}

.addon-notes-container li+li {
  margin-top: .25em;
}

.addon-notes-container dl {
  padding: 0;
}

.addon-notes-container dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  margin-top: 16px;
  padding: 0;
}

.addon-notes-container dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

.addon-notes-container table {
  display: block;
  overflow: auto;
  width: 100%;
}

.addon-notes-container table th {
  font-weight: 600;
}

.addon-notes-container table td,
.addon-notes-container table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

.addon-notes-container table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.addon-notes-container table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.addon-notes-container img {
  background-color: #fff;
  box-sizing: initial;
  max-width: 100%;
}

.addon-notes-container img[align=right] {
  padding-left: 20px;
}

.addon-notes-container img[align=left] {
  padding-right: 20px;
}

.addon-notes-container code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

.addon-notes-container pre {
  word-wrap: normal;
}

.addon-notes-container pre>code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

.addon-notes-container .highlight {
  margin-bottom: 16px;
}

.addon-notes-container .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.addon-notes-container .highlight pre,
.addon-notes-container pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

.addon-notes-container pre code {
  background-color: initial;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

.addon-notes-container .full-commit .btn-outline:not(:disabled):hover {
  border-color: #005cc5;
  color: #005cc5;
}

.addon-notes-container kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.addon-notes-container :checked+.radio-label {
  border-color: #0366d6;
  position: relative;
  z-index: 1;
}

.addon-notes-container .new-label-color-input:invalid {
  color: #cb2431;
}

.addon-notes-container .task-list-item {
  list-style-type: none;
}

.addon-notes-container .task-list-item+.task-list-item {
  margin-top: 3px;
}

.addon-notes-container .task-list-item input {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

.addon-notes-container hr {
  border-bottom-color: #eee;
}

.addon-notes-container .pl-0 {
  padding-left: 0!important;
}

.addon-notes-container .pl-1 {
  padding-left: 4px!important;
}

.addon-notes-container .pl-2 {
  padding-left: 8px!important;
}

.addon-notes-container .pl-3 {
  padding-left: 16px!important;
}

.addon-notes-container .pl-4 {
  padding-left: 24px!important;
}

.addon-notes-container .pl-5 {
  padding-left: 32px!important;
}

.addon-notes-container .pl-6 {
  padding-left: 40px!important;
}

.addon-notes-container .pl-7 {
  padding-left: 48px!important;
}

.addon-notes-container .pl-8 {
  padding-left: 64px!important;
}

.addon-notes-container .pl-9 {
  padding-left: 80px!important;
}

.addon-notes-container .pl-10 {
  padding-left: 96px!important;
}

.addon-notes-container .pl-11 {
  padding-left: 112px!important;
}

.addon-notes-container .pl-12 {
  padding-left: 128px!important;
}
